/* ResultPage.css */

.results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #ffcc00, #005eff);
}


.results-table {
  justify-content: center;
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  margin: 20px;
  background: linear-gradient(to bottom right, #ffcc00, #005eff);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.results-table th,

.results-table td {

  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #284ca7;
}

.results-table th {
  background: linear-gradient(to bottom right, #ffcc00, #005eff);
}

.results-table tr:hover {
  background: linear-gradient(to bottom right, #ffcc00, #005eff);
}
